/*----------------------------------------------
    # All Variables here
----------------------------------------------*/

:root {
  --body: #fff;
  --black: #000;
  --white: #fff;
  --theme: #7444fd;
  --theme2: #f9f3ef;
  --theme3: #faf8ff;
  --title: #282c32;
  --header: #282c32;
  --orange: #e78c45;
  --text: #858585;
  --text2: #cbcbcb;
  --border: #e6e6e6;
  --border-2: #f1f1f1;
  --border-3: #d8d8d8;
  --border-4: #e0e0e0;
  --border-5: #565656;
  --bg-1: #161921;
  --bg-2: #f6f7ff;
  --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
}
